<div>
    <p>
        I'm a student studying Mechanical Engineering at UCLA.

    </p>
    <p>
        I love weird internet people who are rethinking what a
        life well
        lived means. Reading blogs, scrolling through Twitter threads, and listening to podcasts has changed the way I
        see the
        world.
    </p>
    <p>
        I believe there's two paths you can take in life. There's the safe path: go to college, get a degree, get a job
        you don't like, work your way up the corporate ladder. If you play your cards right you'll retire at 65, only to
        discover there's only one way you know how to spend your time: working.
    </p>

    <p>
        Then, there's the second path. The path less
        taken. The path that says that says there's a life out there more fun and exciting and rewarding than you can
        imagine.
        It's the life of taking risks, building stuff, failing, and dreaming big. Who knows where I'll be in 5 years.
        Maybe I'll
        sell out and work a job in managment consulting. But I'll be damned if I don't take my shot at the path less
        traveled.
    </p>

    <p>On this blog, you'll find a bunch of random thoughts, book reviews, experiements, and anything else that
        fascinates me. If you like what you see, DM me on Twiter. I'd love to meet you!</p>

    <p><a href="https://www.google.com">Link </a></p>
</div>